{# -------------------------------------------------
   Element: Hamburger
------------------------------------------------- #}

<div class="e-hamburger | relative z-40">
   <button class="e-hamburger__btn" id="open_mobile_menu_btn" aria-expanded="false" aria-haspopup="true">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
   </button>
</div>