<div class="fixed | bottom-0 right-0 | text-white | font-sans font-extrabold text-12 | py-1 px-2" style="z-index: 1000; background-color: #000;">
	<span class="block sm:hidden">
		Screen: Base<br>
		0-639px
	</span>

	<span class="hidden sm:block md:hidden">
		Screen: SM<br>
		640-767px
	</span>

	<span class="hidden md:block lg:hidden">
		Screen: MD<br>
		768-1023px
	</span>

	<span class="hidden lg:block xl:hidden">
		Screen: LG<br>
		1024-1279px
	</span>

	<span class="hidden xl:block 2xl:hidden">
		Screen: XL<br>
		1280-1535px
	</span>

	<span class="hidden 2xl:block">
		Screen: 2XL<br>
		1536px-∞
	</span>
</div>