{# -------------------------------------------------
   Component: Basic Paragraph
------------------------------------------------- #}

{# Macros #}

{% set paragraph 	= 	component.c_paragraph %}
{% set width		=	component.component_width %}

{#
   -------------------------------------------------
#}

<div class="l-item w-full {% if type == '1/2' %}md:w-{{ type }}{% endif %} order-2 md:order-{{ index }} my-3 md:my-0">
	{{ paragraph }}
</div>