{# -------------------------------------------------
   Module: Background Cards
------------------------------------------------- #}

{# Macros #}

{% import '_macros/icon' as icons %}

{% set cards 		=  	block.children.all() %}
{% set background 	= 	block.c_image.one() %}

{#
   -------------------------------------------------
#}

<section class="bg-center bg-cover" style="background-image: url({{ background.url }})">
	
	<div class="l-container | py-24">
		<div class="l-row | flex sm:divide-x-2 sm:divide-white | items-top">
			{% for card in cards %}
				{% set card_handle = card.type %}
				{% include '_modules/' ~ card_handle with { parent: 'neo' } %}
			{% endfor %}
		</div>
	</div>
	
</section>